<div class="m-portlet m-portlet--tab m-portlet-search">
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="col-lg-5">
            <form class="search">
              <input id="search_term" class="searchTerm" autocomplete="off" placeholder="<%=searchText%>" />
              <input id="search_btn" class="searchButton" type="button" />
            </form>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="button-primary">
            <a href="<%=href%>" class="btn btn-primary btn-users">
              <%=text%>
                <i class="m-menu__link-icon flaticon-add"></i>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>