<div class="row">
  <div class="col-lg-12">
    <label for="add_info" class="title-features">
        კეთილმოწყობა
    </label>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-4">
  <div class="container-checkboxs">
      <div class="some checkbox-in">
          <label class="m-checkbox"><input class="check feature" name="balcony" type="checkbox" /> <span></span>
            <label class="col-form-label">აივანი</label>
          </label>
          <div class="input"></div>
      </div>
      <div class="checkbox-in some">
        <label class="m-checkbox">  <input class="check feature" name="veranda" type="checkbox" /> <span></span>
          <label class="col-form-label">ვერანდა</label>   
          </label>
          <div class="input"></div>
      </div>
      <div class="checkbox-in some">
        <label class="m-checkbox"><input class="check feature" name="loggie" type="checkbox" /> <span></span>
          <label class="col-form-label">ლოჯი</label>
          </label>
          <div class="input"></div>
      </div>

  <div class="checkbox-in">
    <label class="m-checkbox">
      <label class="col-form-label">ავეჯი</label>       <input name="furniture" class="feature" type="checkbox" />         <span></span>
 

      </label>
  </div>
  <div class="checkbox-in some">
      <label class="m-checkbox">
      <label class="col-form-label">სათავსო</label><input class="select feature " id="store" name="storeroom" type="checkbox" /> <span></span>

        
      </label>
      <div class="sel-features"></div>
  </div>
  <div class="checkbox-in">
      <label class="m-checkbox">
      <label class="col-form-label">სამგზავრო ლიფტი</label>  <input name="pass_elevator" class="feature" type="checkbox" /> <span></span>
 
      </label>
    </div>

  <div class="checkbox-in">
      <label class="m-checkbox">
      <label class="col-form-label">სატვირთო ლიფტი</label><input name="serv_elevator" class="feature" type="checkbox" /> <span></span>

        </label>
      </label>
  </div>
  <div class="checkbox-in some">
      <label class="m-checkbox">
      <label class="col-form-label">პარკინგი</label><input class="select feature" id="parking" name="station" type="checkbox" /> <span></span>

        </label>
        <div class="sel-features"></div>
  </div>
  <div class="checkbox-in">
      <label class="m-checkbox">
      <label class="col-form-label">სველი წერტილი</label><input class="select feature" id="parking" name="station" type="checkbox" /> <span></span>
   </label>
  </div>
        <div class="feature-input">
         
          <input name="restrooms_quantity" class="feature" value="one" type="radio" id="radio1">
          <label for="radio1">1</label>
        </div>
        <div class="feature-input">
         
          <input name="restrooms_quantity" class="feature" value="two" type="radio" id="radio2">
          <label for="radio2">2</label>
        </div>
        <div class="feature-input">
          
          <input name="restrooms_quantity" class="feature" value="morethree" type="radio" id="radio3">
          <label for="radio3">3+</label>
        </div>
        <div class="feature-input">
          
          <input name="restrooms_quantity" class="feature" value="common" type="radio" id="radio4">
          <label for="radio4">საერთო</label>
        </div>


</div>

</div>
<div  class="col-lg-5">
    <div class="checkbox-in">
        <label class="m-checkbox">
        <label class="col-form-label">ბუნებრივი აირი</label><input name="gas" class="feature" type="checkbox" /> <span></span>
       
      </label>
    </div>
    <div class="checkbox-in some">
      <label class="m-checkbox">
        <label class="col-form-label">გათბობა</label>  <input class="select feature" id="heating" name="heat" type="checkbox" /> <span></span>
        </label>
        <div class="sel-features"></div>
    </div>
    <div class="checkbox-in">
      <label class="m-checkbox">
        <label class="col-form-label">ბუხარი</label>        <input name="fireplace" class="feature" type="checkbox" /> <span></span>
        </label>
    </div>
    <div class="checkbox-in">
      <label class="m-checkbox some">
        <label class="col-form-label">ცხელი წყალი</label>
        <input class="select feature" id="hotWater" name="hot_water" type="checkbox" /> <span></span>
      </label>
      <div class="sel-features"></div>
    </div>
    <div class="checkbox-in">
      <label class="m-checkbox">
        <label class="col-form-label">კონდიციონერი</label>
        <input name="air_conditioner" class="feature" type="checkbox" /> <span></span></label>
    </div>
    <div class="checkbox-in">
      <label class="m-checkbox">
        <label class="col-form-label">ტელევიზორი</label>
        <input name="tv" class="feature" type="checkbox" /> <span></span></label>
    </div>
    <div class="checkox-in">
      <label class="m-checkbox">
        <label class="col-form-label">სარეცხი მანქანა</label>
        <input name="washin_machine" class="feature" type="checkbox" /> <span></span></label>
    </div>
    <div class="checkbox-in">
      <label class="m-checkbox">
        <label class="col-form-label">ტელეფონი</label>
        <input name="telephone" class="feature" type="checkbox" /> <span></span>
      </label>
    </div>
    <div class="checkbox-in">
      <label class="m-checkbox">
        <label class="col-form-label">ინტერნეტი</label>
        <input name="internet" class="feature" type="checkbox" /> <span></span></label>
    </div>
  </div>
</div>
</div>
 <div class="form-group m-form__group row">
    <label for="" class="col-lg-2 col-form-label">
      მდგომარეობა
    </label>
    <div class="col-lg-2">
      <select name="condition" title="აირჩიეთ ერთერთი" class="selectpicker searchTerm bootstrap-select form-control m-bootstrap-select m-select2 states-select">
        <% conditions.forEach(con => { %>
          <option value="<%=con.id%>">
            <%=con.name%>
          </option>
          <% }) %>
      </select>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <label class="col-lg-2 col-form-label">
      ჭერის სიმაღლე
    </label>
    <div class="col-lg-2 number-checkbox-container">
      <input type="number" name="ceiling_height" class="form-control m-input">
    </div>
  </div>

</div>

<script>
  $('.number').click(function () {
    if ($(this).is(':checked'))
    $(this).toggleClass("active");
  });
  $('.selectpicker').selectpicker();
</script>