<label class="col-lg-12 title-features" for="add_info">კომუნიკაცია</label>
<div class="form-group m-form__group row">
  <label class="col-lg-2 col-form-label">ბუნებრივი აირი</label>
  <label class="m-checkbox">
    <input
      <% if (features.gas) { %> checked <% } %>
      name="gas"
      class="feature"
      type="checkbox"/>
    <span></span>
  </label>

  <label class="col-lg-2 col-form-label">ელექტროენერგია</label>
  <label class="m-checkbox">
    <input
      <% if (features.electricity) { %> checked <% } %>
      name="electricity"
      class="feature"
      type="checkbox"/>
    <span></span>
  </label>

  <label class="col-lg-2 col-form-label">წყალი</label>
  <label class="m-checkbox">
    <input
      <% if (features.water) { %> checked <% } %>
      name="water"
      class="feature"
      type="checkbox"/>
    <span></span>
  </label>

  <label class="col-lg-2 col-form-label">ასფალტის გზა</label>
  <label class="m-checkbox">
    <input
      <% if (features.road) { %> checked <% } %>
      name="road"
      class="feature"
      type="checkbox"/>
    <span></span>
  </label>

  <label class="col-lg-2 col-form-label">კანალიზაცია</label>
  <label class="m-checkbox">
    <input
      <% if (features.sewage) { %> checked <% } %>
      name="sewage"
      class="feature"
      type="checkbox"/>
    <span></span>
  </label>
</div>